@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: "Roboto Mono", monospace;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.KL1xj14SJubSUsFdBd9aSgHaEj%26pid%3DApi&f=1&ipt=1926d1879097370df9f677c60187b3af3def73de3b89c089030dbd4326d8ce20&ipo=images');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero{
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(4, 4, 78);
    border-radius: 2rem;
}

.link{
    font-weight: bold;
    width: 90%;
    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        #contact{
            color: blueviolet;
        }
    }
    a{
        text-decoration: none;
        color: white; 
    }
}

.body{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 4rem;
}

form{
    display: flex;
    flex-direction: column;
    h1{
        color: blueviolet;
    }
    p{
        color: gainsboro;
        padding: 10px 0;
    }

}

.names{
    border-radius: 5px;
    height: 2rem;
    padding: 10px 14px;
    background-color: rgba(137, 43, 226, 0.364);
    color: aliceblue;
}

.contacts{
    border-radius: 5px;
    height: 2rem;
    padding: 10px 14px;
    margin: 10px 0;
    background-color: rgba(137, 43, 226, 0.364);
    color: aliceblue;
}

textarea{
    border-radius: 5px;
    padding: 10px 14px;
    background-color: rgba(137, 43, 226, 0.364);
    color: aliceblue;
}

button{
    margin-top: 1rem;
    height: 2rem;
    width: 6rem;
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 5px;
}

#content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h1{
        color: blueviolet;
    }
}

.contactinfo{
    p{
        color: azure;
        padding: 10px 0;
    }
}

.follow{
    h1{
        padding: 5px 0;
    }
    .logos{
        border-radius: 50%;
        width: 25px;
        height: 25px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        margin-right: 2rem;
    }
    ul{
        list-style-type: none;
        display: flex;
    }
    #facebook{
        background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Eeg1Ofuwrutsru7jUPPAggHaE7%26pid%3DApi&f=1&ipt=cd5f3dd9a309515efab281e8ff09d03e4a4b2934be7b34c3abce11de3a1f9c3f&ipo=images');
    }
    #insta{
        background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.shMLwGIsbDrfGhWzmHp0mQHaF7%26pid%3DApi&f=1&ipt=29ac4fb539e693c6e038d3f65c4b461cfd976fe0e230641bdfa0620abcc024a3&ipo=images');
    }
    #linkdin{
        background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.8OUQAzOlhtNkOtZIHKd_lwHaHa%26pid%3DApi&f=1&ipt=9b019f6bfe22b97c5d2290c096a63ff0c06fbd714f2beab54a0395496e6e30dd&ipo=images');
    }
}